[submodule "vendor/stm32f103xx-usb"]
	path = vendor/stm32f103xx-usb
	url = https://github.com/jmgao/stm32f103xx-usb.git
[submodule "vendor/usb-device"]
	path = vendor/usb-device
	url = https://github.com/jmgao/usb-device.git
[submodule "vendor/heapless"]
	path = vendor/heapless
	url = https://github.com/jmgao/heapless.git
[submodule "vendor/stm32f1xx-hal"]
	path = vendor/stm32f1xx-hal
	url = https://github.com/jmgao/stm32f1xx-hal.git
[submodule "vendor/proper"]
	path = vendor/proper
	url = https://github.com/jmgao/proper.git
