[submodule "vendor/usb-device"]
	path = vendor/usb-device
	url = https://github.com/jmgao/usb-device.git
[submodule "vendor/heapless"]
	path = vendor/heapless
	url = https://github.com/jmgao/heapless.git
	branch = v0.5.0-jmgao
[submodule "vendor/stm32f1xx-hal"]
	path = vendor/stm32f1xx-hal
	url = https://github.com/jmgao/stm32f1xx-hal.git
[submodule "vendor/proper"]
	path = vendor/proper
	url = https://github.com/jmgao/proper.git
[submodule "vendor/ring"]
	path = vendor/ring
	url = https://github.com/jmgao/ring.git
	branch = hacks
[submodule "vendor/cortex-m-rtfm"]
	path = vendor/cortex-m-rtfm
	url = https://github.com/jmgao/cortex-m-rtfm.git
	branch = v0.4.3-jmgao
[submodule "pcb/lib/PCB-USB-C"]
	path = pcb/lib/PCB-USB-C
	url = https://github.com/jmgao/PCB-USB-C.git
[submodule "pcb/lib/fm-b2020rgba-hg"]
	path = pcb/lib/fm-b2020rgba-hg
	url = https://github.com/jmgao/fm-b2020rgba-hg.git
[submodule "vendor/stm32-usbd"]
	path = vendor/stm32-usbd
	url = https://github.com/jmgao/stm32-usbd.git
[submodule "pcb/lib/kicad-ngff"]
	path = pcb/lib/kicad-ngff
	url = https://github.com/jmgao/kicad-ngff.git
