[submodule "vendor/heapless"]
	path = vendor/heapless
	url = https://github.com/jmgao/heapless.git
[submodule "vendor/stm32f1xx-hal"]
	path = vendor/stm32f1xx-hal
	url = https://github.com/jmgao/stm32f1xx-hal.git
[submodule "vendor/proper"]
	path = vendor/proper
	url = https://github.com/jmgao/proper.git
